@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 191, 202);
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box-2{
    background-color: rgb(255, 191, 202);
    width: 10px;
}    

#secret {
    color: rgb(255, 206, 213);
    font-size: 8px;
    user-select: none;
}

.text {
    color: black;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    user-select: none;
}


.unhider {
    position: fixed;
    top: 0;
    right: 0;
    height: 5px;
    width: 5px;
    cursor: pointer;
}

.picture-1 {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    margin-left: 20px;
    height: 250px;
    width: 250px;
    border-radius: 120px;
    pointer-events: none;
}

.picture-2 {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    margin-right: 20px;
    width: 250px;
    border-radius: 13px;
    pointer-events: none;
}

.colorChange {
    transition: 200ms;
    animation: rgb linear infinite 5s;
}

.hidden {
    opacity: 0;
    transition: 150ms;
}

@keyframes rgb {
    0% {
        color: rgb(50, 180, 255);
    }
    20% {
        color: rgb(66, 211, 255);
    }
    40% {
        color: rgb(92, 203, 255);
    }
    60% {
        color: rgb(87, 179, 255);
    }
    100% {
        color: rgb(72, 157, 255);
    }
}

@media screen and (max-width: 900px) {
    .picture-1 {
        width: 200px;
        height: 200px;
    }
    .picture-2 {
        width: 200px;
    }
}